input {
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.663);
}

footer {
    margin-top: 250px;
}

body {
    background-image: url("../img/beautiful-cloudscape-sunset-evening-dawn.jpg");
    background-size: cover;
}